<div id="contentWork" *ngIf="work">
    <div id="imageTitle">
        <div id="titleSpans">
            <h1>{{work.title}}</h1>
            <div id="spans">
                <div>
                    <img src="../../../assets/img/clock.svg" alt="">
                    <p>{{work.time}}</p>
                </div>
                <div>
                    <img src="../../../assets/img/pin.svg" alt="">
                    <p>{{work.location}}</p>
                </div>
                <div>
                    <img *ngIf="work.locationwork == 'Presential'" src="../../../assets/img/office.svg" alt="">
                    <img *ngIf="work.locationwork == 'Home office'" src="../../../assets/img/work-from-home.svg" alt="">
                    <p>{{work.locationwork}}</p>
                </div>
                <div>
                    <img src="../../../assets/img/category.svg" alt="">
                    <p>{{work.category}}</p>
                </div>
            </div>
        </div>
        <img src="{{work.image}}" alt="">
    </div>

    <div id="dataForWork">
        <p id="description">
            {{work.description}}
        </p>
        <div id="requeriments">
            <h1>Requeriments</h1>
            <ul id="listRequeriments" *ngIf="this.work">
                <li class="requerimentList" *ngFor="let i of this.work.requeriments">{{i}}</li>
            </ul>
        </div>
    </div>

    <button class="buttonSend" *ngIf="owner" [routerLink]="['/update-work/' + workID]">Update Work</button>
    <button class="buttonSend delete" (click)="deleteWork()" *ngIf="owner">Delete Work</button>
    <button class="buttonSend" *ngIf="!owner && !formConsult" (click)="displayForm()">Send Consult</button>
    <app-send-consult workID="{{work._id}}" *ngIf="formConsult" userID="{{work.userID}}"></app-send-consult>

</div>