*{
    padding: 0px;
    margin: 0px;
}

#headerApp{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 70px;
    background-color: var(--yellow);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 4px rgb(168, 168, 168) inset;
}

#logo {
    margin-left: 20px;
    color: var(--black);
    cursor: pointer;
    transition: 300ms all;
} 

#logo:hover {
    transform: scale(1.1, 1.1);
}

.divLinksHeader{
    display: flex;
    flex-flow: row wrap;
}

.linkHeader{
    display: block;
    margin: 20px;
    transition: 300ms all;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.linkHeader:hover {
    transform: scale(1.2, 1.2); 
}

@media(max-width: 392px){
    #logo{
        font-size: 20px;
    }
    .linkHeader{
        font-size: 17px;
    }
}