<div id="content">
    <h1 id="title">Hello Admin</h1>
    
    <div id=boxs>
        <div class="boxLink" [routerLink]="['/list-users']">
            <h1>List Users</h1>
            <img src="../../../assets/img/users.svg" alt="">
        </div>
        <div class="boxLink" [routerLink]="['/list-admins']">
            <h1>List Admins</h1>
            <img src="../../../assets/img/admins.svg" alt="">
        </div>
        <div class="boxLink" [routerLink]="['/save-admin']">
            <h1>Save Admin</h1>
            <img src="../../../assets/img/saveUser.png" alt="">
        </div>
        <div [routerLink]="['/']" class="boxLink">
            <h1>Categories</h1>
            <img src="../../../assets/img/list.svg" alt="">
        </div>
    </div>
</div>