<div id="content">
    <h1 id="title">Hello Admin</h1>
    
    <div id=boxs>
        <div class="boxLink">
            <h1>List Users</h1>
            <img src="../../../assets/img/users.svg" alt="">
        </div>
        <div class="boxLink">
            <h1>List Admins</h1>
            <img src="../../../assets/img/admins.svg" alt="">
        </div>
        <div class="boxLink">
            <h1>Save User or Admin</h1>
            <img src="../../../assets/img/saveUser.png" alt="">
        </div>
    </div>
</div>