<div id="content">
    <h1 id="title">Modify Password</h1>
    <form id="passwordForm" (submit)="submitPassword()" [formGroup]="dataForm">
        <label>New Password</label>
        <input type="password" id="passwordInput" (change)="changeInput('password')" placeholder="Password" formControlName="password">
        <label>Confirm Password</label>
        <input type="password" id="confirmPasswordInput" (change)="changeInput('confirmPassword')" placeholder="Confirm Password" formControlName="confirmPassword">
        <span class="msgError required">Passwords are required</span>
        <span class="msgError different">The passwords are differents</span>
        <button type="submit">Submit</button>
    </form>
</div>