*{
    padding: 0px;
    margin: 0px;
}

#overHeader{
    width: 100%;
    height: 85px;
    border: 1px solid #ccc;
    border-top: none;
}

#divInputSearch{
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
}

#divInputSearch input{
    width: 410px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 19px;
}

#divInputSearch button{
    width: 50px;
    padding-left: 20px;
    cursor: pointer;  
    background-color: white;
    border: none;
    border-radius: 20px;
}

#containerNoAuth{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

#lateral-bar{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 30px;
    width: 250px;
    border: 3px solid var(--yellow);
    border-radius: 20px;
    margin: 20px;
}

#lateral-bar h3{
    font-size: 24px;
    font-family: sans-serif;
    color: var(--blue);
}

#worksApp {
    width: 70%;
}

.labelInput{
    padding: 5px; 
}

.labelInput input{
    margin-right:10px;
} 

#divWorks{
    margin: 20px;
    height: 550px;
    overflow: scroll;
    width: 65%;
}

.work{
    display: flex;
    flex-flow: row wrap;
    width: 92%;
    height: 199px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc;
    margin-top: 10px;
    padding-right: 0px;
}

.spans{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}

.work .workImage{
    width: 300px;
    height: 200px;
}

.work h2{
    display: block;
    width: 90%;
    padding-left: 20px;
}

.work span {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 120px;
    margin-left: 20px;
}

.work span img{
    width: 20px;
    margin: 0 auto;
}

.work span p {
    display: block;
    text-align: center;
}

#pages{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    width: 400px;
    justify-content: center;

}

.pageButton{
    display: flex;
    flex-flow: column wrap;
    margin-left: 20px;
    align-items: center;
}

.pageButton:hover .pagePoint{
    background-color: #666;
}

.pagePoint{
    cursor: pointer;
    transition: 300ms all; 
    width: 13px;
    height: 13px;
    border-radius: 999px;
    background-color: #ccc; 
}

.pageActive {
    background-color: #666;
    cursor: normal !important;
}

#worksApp {
    margin-right: 50px;
    width: 63%;
}

@media (max-width: 1234px){
    
    #divWorks{
        width: 72%;
    }
    
    #lateral-bar{
        width: 150px;
    }
}

@media (max-width: 1120px){
    .spans{
        width: 200px;
        justify-content: center;
    }
    
    .work span {
        width: 80px; 
        margin-top: 20px;
        margin-left: 20px;
    }

    .work span:nth-child(1){
        margin-top: 60px;
    }

    #divWorks{
        width: 65%;
    }

    #lateral-bar{
        width: 15%;
    }

    .labelInput{
        font-size: 15px;
    }
}

@media (max-width: 894px){
    #containerNoAuth{
        flex-flow: column wrap !important;
        justify-content: normal;
    }

    #lateral-bar{
        flex-flow: row wrap !important;
        width: 85%;
        height: 120px;
        margin: 0px auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #lateral-bar h3 {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    #lateral-bar label{
        font-size: 18px;
    }
    
    #worksApp {
        width: 100%;
        height: auto;
        margin: 0px auto;
    }

    .work{
        width: 93%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media(max-width: 590px){
    #lateral-bar {
        height: 200px;
    }

    .work .workImage{
        margin: 0 auto;
    }

    .work .spans{
        width: 100%;
    }

    .work h2{
        text-align: center;
        margin-top: 10px;
    }

    .work{
        height: 300px;
    }
}

@media (max-width: 506px){
    #divInputSearch{
        width: 80%;
    }

    #divInputSearch button{
        position: absolute;
        right: 55px;
        top: 90px;
        background-color: transparent;
    }

    .work .workImage{
        width: 150px;
        height: 100px;
    }
    
    .spans {
        width: 100%;
    }

    #divWorks{
        width: 90%;
    }

    .work{
        width: 95%;
    }
}

@media (max-width: 386px){
    #lateral-bar{
        width: 70%;
        height: 300px;
    }
}