<div *ngIf="!auth" class="homeNoAuth">
    <div id=containerNoAuth>
        <div id="lateral-bar">
            <h3>Categories</h3>
            <label class="labelInput" *ngFor="let i of categories">
                <input type="checkbox" (click)="changeCategory(i)" value="{{i}}" id="{{i}}">{{i}}
            </label>
        </div>
        <app-works id="worksApp" page="{{page}}" category="{{this.category}}"></app-works>
    </div>
    <div id="pages" *ngIf="category">
        <div class="pageButton pageButton{{i}}" *ngFor="let i of pages" >
            <div class="pagePoint" *ngIf="i == 0" [routerLink]="['/category/' + category]"></div> 
            <div class="pagePoint" *ngIf="i > 0" [routerLink]="['/category-page/' + category + '/' + i]"></div> 
            <span class="pageNumber">{{i}}</span>
        </div>
    </div>
    <div id="pages" *ngIf="!category">
        <div class="pageButton pageButton{{i}}" *ngFor="let i of pages" >
            <div class="pagePoint" *ngIf="i == 0" [routerLink]="['/']"></div> 
            <div class="pagePoint" *ngIf="i > 0" [routerLink]="['/page/' + i]"></div> 
            <span class="pageNumber">{{i}}</span>
        </div>
    </div>
</div>

<div *ngIf="auth" class="homeAuth">
    <app-home-auth></app-home-auth>
</div>