#divWorks{
    margin: 20px;
    width: 100%;
}

.work{
    display: flex;
    flex-flow: row wrap;
    width: 92%;
    height: 199px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc;
    margin-top: 10px;
    padding-right: 0px;
    cursor: pointer;
    transition: 300ms all;
}

.work:hover {
    box-shadow: 0px 0px 10px black;
    transform: scale(1.1, 1.2);
}

.spans{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}

.work .workImage{
    width: 300px;
    height: 200px;
}

.work h2{
    display: block;
    width: 90%;
    padding-left: 20px;
}

.work span {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 120px;
    margin-left: 20px;
}

.work span img{
    width: 20px;
    margin: 0 auto;
}

.work span p {
    display: block;
    text-align: center;
}

@media (max-width: 1150px){
    .spans{
        width: 200px;
    }

    .work span {
        margin-top: 0px;
    }

    .work .firstSpan{
        margin-left: 28px;
    }
}

@media (max-width: 894px){
    
}


